@{
    ViewBag.Title = "Contact";
}
@section HeadScript{
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit'></script>
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br/>
    Redmond, WA 98052-6399<br/>
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
<div>
    @{Html.RenderAction("ContactForm1","Home");}
</div>
<div>
    @{Html.RenderAction("ContactForm2","Home");}
</div>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br/>
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
@section scripts
{
    <script>
            $(window).load(function () {
                onloadCallback("formCode1");
                onloadCallback("formCode2");
            });
</script>
}
