@{
    ViewBag.Title = "Multi Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit&hl=en'></script>
}
<div id="fh5co-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="row animate-box">
            @Html.Action("ContactForm1", "Home")
            @Html.Action("ContactForm2", "Home")
        </div>
    </div>
</div>
@section Footer{
    <script type="text/javascript">
        var onloadCallback = function (id) {
            grecaptcha.render(id, {
                'sitekey': 'your site key here'
            });
        };
    </script>
    <script>
        $(window).load(function () {
            onloadCallback("FormCode1Captcha");
            onloadCallback("FormCode2Captcha");           
        });
    </script>
}

